<div id="<%= dom_id(discussion) %>" class="mb-2">
  <h2><%= link_to discussion.name, discussion %></h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %><br />
  Posted in: <%= discussion.category_name %> | Posts: <%= discussion.posts_count %>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %> |
    <%= link_to "Delete", discussion, method: :delete, data: { confirm: "Are you sure? This cannot be undone" } %>
  </div>
</div>
