<% if @category.present? %>
  <%= turbo_stream_from @category %>
<% else %>
  <%= turbo_stream_from 'discussions' %>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Discussions</h1>
  <%= link_to "New discussion", new_discussion_path, class: "btn btn-primary" %>
</div>

<div class="row mt-4">
  <div class="col-3">
    <%= turbo_stream_from 'categories' %>
    <h5>Categories</h5>
    <div id="categories">
      <%= render(partial: "categories/category", collection: Category.sorted) %>
    </div>
  </div>

  <div class="col">
    <% if @category %>
      <h4>Viewing discussions in <%= @category.name %></h4>
    <% end %>
    <% if params[:page].blank? || params[:page].eql?('1') %>
      <div id="discussions"></div>
    <% end %>
    <%= render partial: "discussions/discussion", collection: @discussions %>

    <hr class="mb-4">

    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
