<%= turbo_stream_from @discussion %>

<%= render(partial: "discussions/header", locals: { discussion: @discussion }) %>

<div id="posts" class="mt-4">
  <%= render partial: "discussions/posts/post", collection: @posts %>
</div>

<hr class="my-4">

<div id="<%= dom_id(@new_post) %>">
  <%= render("discussions/posts/form", post: @new_post) %>
</div>
